
body {
    font-family: 'Inter', sans-serif;
    background-color: #fff;
}
.finest-sidebar #mainnav #menu {
    display: none;
    cursor: pointer;
}
body.finest-body {
    background: #F3F5F7;
}
.container-layout-01 {
    max-width: 100%;
}
.container-layout-02 {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px
}

.finest-docs-template-default {
    background-color: #F3F5F7;
}

.finest-single-wrap {
    width: 100%;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.finest-single-wrap .finest-sidebar {
    width: 25%;
}

.finest-autoc-wrap {
    width: 25%;
    background: #fff;
    padding-top: 45px;
    padding-right: 30px;
    padding-bottom: 45px;
    position: sticky;
    top: 0px;
}

.finest-single-wrap .finest-single-content {
    width: 50%;
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 45px;
    padding-right: 45px;
}

ul.finest-breadcrumb {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

ul.finest-breadcrumb li {
    display: flex;
    align-items: center;
}

.ast-single-post .entry-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.72em;
    color: #000000;
    text-transform: capitalize;
}

.finest-single-content ul.finest-breadcrumb li .current {
    font-size: 15px;
    line-height: 26px;
    color: #4A3BFD;
    font-weight: 400;
}

.finest-nav-list li.page_item_has_children>.children {
    display: none;
}

.finest-nav-list li.page_item_has_children.current_page_item>.children,
.finest-nav-list li.page_item_has_children.current_page_parent>.children,
.finest-nav-list li.page_item_has_children.current_page_ancestor>.children {
    display: block;
}



.finest-sidebar ul li a {
    display: block;
    position: relative;
}


/* shortcode */
.finest-autoc-wrap .autoc ul {
    margin: 0px;
    padding-left: 0;

}

.finest-autoc-wrap .autoc ul li {
    list-style: none;
    margin-bottom: 0px;
    padding-bottom: 15px;
}

.finest-autoc-wrap .autoc ul li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.66em;
    color: #000000;
    display: inline-block;
    transition: all 0.3s;
}

.finest-autoc-wrap .autoc ul li:last-child {
    padding-bottom: 0px;
}

.finest-autoc-wrap .autoc {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 30px;
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
}

.autoc .autoc-level-H3 {
    padding-left: 40px;
}

.autoc .autoc-level-H4 {
    padding-left: 60px;
}

.autoc .autoc-level-H3:before {
    content: "";
    display: block;
    height: 0;
    width: 30px;
    border-bottom: 1px dashed #c4cbdb;
    /* Adjust the Y value for your site */
    transform: translateX(-35px) translateY(19px);
}

.autoc .autoc-level-H4:before {
    content: "";
    display: block;
    height: 0;
    width: 50px;
    border-bottom: 1px dashed #c4cbdb;
    /* Adjust the Y value for your site */
    transform: translateX(-55px) translateY(19px);
}

.finest-sidebar .widget-title {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.38em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
}


.finest-sidebar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.finest-single-wrap .finest-sidebar {
    background-color: #F8F8FA;
    padding-top: 30px;
    padding-left: 45px;
    padding-right: 15px;
    padding-bottom: 20px;
}

.finest-sidebar ul li a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
}
.finest-sidebar ul.finest-nav-list li a span {
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    color: #111827;
    margin-right: 20px;
    font-size: 18px;
}
.finest-sidebar ul li ul.children li a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    color: rgba(0, 0, 0, 0.7);
    display: block;
    padding-left: 38px;
}
.finest-sidebar ul.finest-nav-list li ul.children li a span {
    display: none;
}
ul.finest-breadcrumb li .dashicons {
    line-height: 1.55em;
    font-size: 18px;
}

.finest-sidebar ul.finest-nav-list li a span.toggle-menu {
    line-height: initial;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.finest-single-content ul.finest-breadcrumb li span.dashicons {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    line-height: 20px;
    color: rgba(17, 24, 39, 0.6);
    
}
.finest-single-content ul.finest-breadcrumb li a {
    color: rgba(22, 22, 23, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
}

.finest-single-content .entry-content h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.72em;
    color: #000000;
    margin-bottom: 15px;
    margin-top: 0px;
}
.single .entry-header {
    margin-bottom: 30px;
}
.finest-single-content .entry-content p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6em;
    color: rgba(0, 0, 0, 0.7);
    margin-right: 80px;
    margin-bottom: 35px;
    margin-right: 150px;

}

.finest-autoc-wrap .autoc h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom:10px;
    margin-top: 0px;
}
.fdocs-ctn .footer-area {
    display: flex;
    align-items: flex-start;
    margin-bottom: 75px;
}
.footer-content {
    margin-right: 45px;
}
.fdocs-ctn .footer-content h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 5px;
}
.fdocs-ctn .footer-content p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 0px;
}
.fdocs-ctn .footer-button a {
    width: 162px;
    height: 45px;
    background: #4A3BFD;
    border-radius: 5px;
    display: inline-flex;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    justify-content: center;
}
.fd-powered .fd-footertext {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}
/********************* 
        layout 02 
 **********************/

.finest-autoc-wrap.without-icon .autoc {
    border-left: 0px;
    padding-left: 0px;
}
.finest-sidebar.layout-two-bg {
    background-color: transparent !important;
}

.container-layout-02 .finest-single-content .entry-content p {
    margin-right: 30px;
}



/* Search page style  */
form.search-form.finestdocs-search-form {
    position: relative;
    width: 100%;
    max-width: 100%;
}

form.search-form.finestdocs-search-form input.search-field {
    width: 100%;
    background-color: #FAFAFA;
    border: 1px solid rgba(22, 22, 23, 0.15);
    border-radius: 5px;
    height: 60px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #161617;
    padding-left: 50px;
    margin-top: 0;
    margin-right: 0;
    margin: 0;
    outline: 0px;
}

form.search-form.finestdocs-search-form  button.search-submit {
    position: absolute;
    background-color: transparent;
    border: none!important;
    margin-left: 0!important;
    padding: 0;
    margin-top: 0!important;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.finestdocs-search-input {
    width: 100%;
}

.finest-search-bar h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 18px;
}

.finest-search-bar p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;
}

.finest-search-page .finest-container {
    width: 856px;
}

.finest-search-page .finest-search-bar {
    padding: 90px;
    background-color: #fff;
}

.fddox-search-title {
    width: 465px;
    max-width: 100%;
}

.finest-search-results {
    padding: 65px 0 70px;
}

.finest-search-restult-title {
    margin-bottom: 50px;
}

.finest-search-restult-title h4 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
/* identical to box height, or 152% */
    color: rgba(22, 22, 23, 0.5);
}

.finest-search-restult-title h4 strong {
    color: #161617;
}

.fddocs-single-search-item {
    background-color: #fff;
    padding: 35px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    border: 1px solid rgba(45, 45, 49, 0.12);
    border-radius: 3px;
    margin-bottom: 25px;
}

.fddocs-single-search-item ul.finest-breadcrumb {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 13px;
}

.fddocs-single-search-item ul.finest-breadcrumb a {
    color: rgba(22, 22, 23, 0.6);
    text-decoration: none;
}

.fddocs-single-search-item ul.finest-breadcrumb span.current {
    color: #4B3BFD;
}

.fddocs-single-search-item h4 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: #161617;
    margin-bottom: 16px;
}

a {
    text-decoration: none;
}

.fddocs-single-search-item ul.finest-breadcrumb li {
    display: none;
}

.fddocs-single-search-item ul.finest-breadcrumb li:last-child, .fddocs-single-search-item ul.finest-breadcrumb li:nth-last-child(2),.fddocs-single-search-item ul.finest-breadcrumb li:nth-last-child(3) {
    display: block;
}

@media screen and (min-width: 992px) and (max-width: 1444px) {
    .finest-single-content .entry-content p {
        margin-right: 20px;
    }
    .finest-single-wrap .finest-sidebar {
        padding-left: 20px;
        padding-right: 0px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .finest-single-wrap .finest-single-content {
        width: 100% !important;
    }
    .finest-single-wrap .finest-sidebar {
        width: 50% !important;
        order: -2;
    }
    .finest-autoc-wrap {
        width: 50% !important;
        order: -1;
    }
    .finest-single-wrap .finest-single-content {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .finest-single-wrap .finest-sidebar {
        padding-top: 25px;
        padding-left: 20px;
        padding-right: 21px;
    }

    .finest-single-content .entry-content p {
        margin-right: 0px;
    }

    .finest-single-content .entry-content h2 {
        font-size: 22px;
    }

    .ast-single-post .entry-title {
        font-size: 22px;
    }

    .finest-autoc-wrap {
        padding-top: 25px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .finest-autoc-wrap .autoc {
        padding-left: 15px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .finest-sidebar #mainnav #menu {
        display: block;
    }

    .finest-sidebar #mainnav ul {
        display: none;
        text-align: left;
    }
    .finest-sidebar #mainnav ul li {
        display: block;
    }

    .finest-sidebar #mainnav ul li a {
        display: block;
        
    }
    .finest-single-wrap .finest-sidebar {
        width: 100% !important;
        order: -2;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .finest-autoc-wrap {
        width: 100% !important;
        order: -1;
    }

    .finest-single-wrap .finest-single-content {
        width: 100% !important;
        order: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 25px;
    }
    .finest-single-content .entry-content p {
        margin-right: 0px; 
    }
}

/***********************************************
                    Layout-03
***********************************************/
.finest-sidebar.layout-three .entry-content {
    margin-bottom: 50px;
}
/* .finest-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} */
.finest-sidebar.layout-three {
    background: #fff !important;
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.finest-sidebar.layout-three ul li {
    margin-bottom: 12px;
}
.finest-sidebar.layout-three ul li ul.children li {
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(22, 22, 23, 0.09);
}
.finest-sidebar.layout-three ul li ul.children li:last-child {
    border-bottom: 0px;
}
.finest-sidebar.layout-three ul li ul.children li a {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    color: rgba(22, 22, 23, 0.7);
    padding-top: 20px;
    padding-bottom: 20px;
}
.finest-sidebar.layout-three ul li a {
    color: #161617;
    display: block;
    background: #F9F9FA;
    padding: 15px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 0px;
}
.finest-single-wrap .finest-single-content.tamplate-three {
    width: 70%;
    padding-right: 0px;
    padding-bottom: 25px;
    padding-top: 35px;
}
.finest-single-content.tamplate-three .entry-content p {
    margin-right: 205px;
}
.finest-single-content.tamplate-three ul.finest-breadcrumb {
    margin-bottom: 25px;
}
.rate-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin-right: 60px;
}
.article-like span.article-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.7);
}
.update-date .update-text {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.7);
}
.help-center .help-text {
    font-style: 400;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.help-center {
    text-align: center;
}
.help-center a.contact-support {
    display: inline-block;
    width: 205px;
    height: 50px;
    line-height: 50px;
    background: #161617;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;

}
.help-center p.contact-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 20px;
}
.help-center .help-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 20px;
    margin-top: 55px;
}
.ultimatedoc p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 60px;
    margin-bottom: 25px;
}
.ultimatedoc p a {
    color: #4A3BFD;
}



/* **********************************
        section template
*************************************/


.finest-site-main  {
    padding-top: 115px;
    padding-bottom: 120px;
  }
  
.finest-site-main .wraper {
    background: #FFFFFF;
    border: 1px solid rgba(45, 45, 49, 0.12);
    box-sizing: border-box;
    transition: all 0.3s;
    border-radius: 5px;
} 
.finest-site-main .wraper:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
} 
.finest-site-main .top-iocn {
    width: 100%;
    height: 188px;
    background: #F3F2F8;
    border-radius: 5px 5px 0px 0px;
    position: relative;
}
.finest-site-main .content-area {
    padding: 35px 35px 25px 35px;
}
.finest-site-main .docs-title h1 {
    margin: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
    color: #161617;
    font-family: 'Inter';
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.finest-site-main .wraper.template-third .docs-title h1 {
    margin-bottom: 35px;
}
.finest-site-main .wraper.template-third .docs-title h1 span {
    margin-right: 5px;
}
.finest-site-main .docs-excerpt p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
    font-family: 'Inter';
}
.finest-site-main .total-article .article-total {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #4A3BFD;
    font-family: Inter;
}
.finest-site-main .icon.icon-one {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background: #FFFFFF;
    border: 1px solid rgba(45, 45, 49, 0.14);
    border-radius: 50px;
    width: 90px;
    height: 90px;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.footer-button a.customize-unpreviewable {
    cursor: pointer !important;
}
.fdocs-navigation .nav-previous {
    float: left;
}
.fdocs-navigation .nav-next {
    float: right;
}
/***************************************
        section -template 02
***************************************/

.finest-site-main .wraper.template-scnd {
    display: flex;
    align-items: center;
    border-radius: 0px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
}
.finest-site-main .wraper.template-scnd .content-area {
    padding: 0px;
}
.finest-site-main .icon.scnd-icon {
    margin-right: 25px;
}
.finest-site-main .icon.scnd-icon img {
    width: 40px;
    height: 65px;
    object-fit: cover;
}
.finest-site-main .wraper.template-scnd .total-article .article-total {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.7);
    text-transform: capitalize;
}
.finest-site-main .wraper.template-scnd .docs-title h1 {
    margin-bottom: 5px;
}

/*******************************
        Template -03
********************************/
.section-article-list ul {
    margin: 0px;
    padding: 0px;
}
.section-article-list ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}
.section-article-list ul li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #161617;
    margin-left: 5px;
}
.section-article-list ul li a:hover {
    text-decoration: underline;
}

.section-article-list {
    margin-bottom: 25px;
}

/**********************************
            section template
***********************************/
.section-bg {
    background-image: url('../img/secton-head.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 105px;
}
.section-header {
    text-align: center;

}
.section-title h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 1.14em;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.section-desc p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.55em;
    color: rgba(255, 255, 255, 0.9);
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 40px;
}

.section-bg.section-template-02 {
    background: #942FD1;
}
.section-template-02 .section-header {
    text-align: left;
}

.section-template-02 .section-desc p {
    padding-left: 0px;
    padding-right: 0px;
   
}
.section-template-02 form.search-form.finestdocs-search-form input.search-field {
    background: rgba(255, 255, 255, 0.2);
    outline: 0px;
    color: #fff;
}

.section-template-02 ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #FFFFFF;
}

.section-template-02 ::-moz-placeholder { /* Firefox 19+ */
    color: #FFFFFF;
}

.section-template-02 :-ms-input-placeholder { /* IE 10+ */
    color: #FFFFFF;
}
.finest-site-main.section-template-03 {
    background: #fff;
    padding-top: 0px;
}
.section-bg.section-template-03 {
    background: #ffffff;
}
.section-template-03 .section-title h1 {
    color: #161617;
}
.section-template-03 .section-desc p {
    color: #161617;
}

.section-bg.section-template-03 {
    background: #ffffff;
    padding-bottom: 90px;
} 
/*********************************
            Docs Template-01
*********************************/

.finest-site-main .card-top .card-title img {
    width: 100%;
    height: 190px;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}
.finest-site-main .card-top .card-title h1 {
    font-family: 'Gentona';
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 1.08em;
    text-align: center;
    color: #FFFFFF;
    text-transform: capitalize;
    margin: 0px;
}
.finest-site-main .docs-wraper {
    background: #FFFFFF;
    border: 1px solid rgba(45, 45, 49, 0.12);
    border-radius: 5px;
    transition: all 0.3s;
}
.finest-site-main .card-bottom {
    padding: 25px 35px 40px 35px;
}
.finest-site-main .card-bottom .card-content-title h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
    color: #161617;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 15px;
}
.finest-site-main .card-bottom .card-content p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 35px;
}
.finest-site-main .card-bottom .card-button a { 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background: rgba(22, 22, 23, 0.06);
    border-radius: 5px;
    text-align: center;
    font-family: 'Inter';
    font-style: 400;
    font-weight: 500;
    font-size: 16px;
    color: #161617;
    transition: all 0.3s;
}
.finest-site-main .card-bottom .card-button a:hover {
    color: #fff;
    background: #161617;
}

.docs-wraper.docs-templatetwo {
    display: flex;
    align-items: center;
    padding: 38px 35px;
    border: 0px;
    border-radius: 10px;
}

.finest-site-main .docs-templatetwo .card-top img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
} 
.finest-site-main .docs-templatetwo .card-top .card-title h1 { 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}

.finest-site-main .docs-templatetwo .card-bottom {
    padding: 0px;
}
.finest-site-main .docs-templatetwo .docs-article .docs-article-total {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.7);
}

/***************************************
            page template
****************************************/
.template-header {
    text-align: center;
    padding-top: 80px;

}
.header-title h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 1.14x;
    text-align: center
}
.header-desc p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #161617;
    padding-right: 70px;
    padding-left: 70px;
}

/***************************************
            Feedback Css
****************************************/
.fddocs-article-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.fddocs-footer-feedback .like,.fddocs-footer-feedback .dislike {
    background-color: #161617;
    width: 27px;
    height: 27px;
    display: inline-flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;
    margin-left: 5px;
}

.fddocs-footer-feedback .feedback-text {
    margin-right: 15px;
    display: inline-flex;
}

.fddocs-footer-feedback.disabled {
    opacity: .5;
    cursor: not-allowed;
    transition: .4s;
}
.fddocs-footer-feedback.disabled .like,.fddocs-footer-feedback.disabled .dislike {
    cursor: not-allowed;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .finest-single-wrap .finest-sidebar.layout-three {
        width: 100% !important;
        margin-bottom: 20px;
    }
    .finest-single-content.tamplate-three .entry-content p {
        margin-right: 50px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .finest-sidebar.layout-three {
        width: 100%;
        margin-bottom: 20px;
    }
    .finest-single-content.tamplate-three .entry-content p {
        margin-right: 25px;
    }
    .section-bg {
        padding-top: 55px;
        padding-bottom: 60px;
    }
    .finest-site-main {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .section-title h1 {
        font-size: 36px;
    }   
    .section-desc p {
        padding-left: 0px;
        padding-right: 0px;
       
    }
}