body {
    font-family: 'Inter', sans-serif;
    background-color: #fff;
}

.fddocs-sidebar #mainnav .fddoc-sidebar-trigger {
    display: none;
    cursor: pointer;
}

body.fddocs-body {
    background: #F3F5F7;
}

.container-layout-01 {
    max-width: 100%;
}

.container-layout-02 {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px
}

.finest-docs-template-default {
    background-color: #F3F5F7;
}

.fddocs-single-wrap {
    width: 100%;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.fddocs-single-wrap .fddocs-sidebar {
    width: 25%;
}

.fddocs-autoc-wrap {
    background: #fff;
    padding-top: 45px;
    padding-right: 30px;
    padding-bottom: 45px;
    position: sticky;
    top: 0px;
}

.fddocs-single-wrap .fddocs-single-content {
    width: 75%;
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
}

.fddocs-single-wrap article {
    padding: 0 0 0 45px;
    width: 75%;
    orphans: 1;
}

.fddocs-single-wrap .fddocs-autoc-wrap {
    width: 25%;
    padding-top: 0;
    margin-top: -40px;
}

.fddocs-single-wrap .fddocs-single-content ul.fddocs-breadcrumb {
    padding: 0 45px;
}

ul.fddocs-breadcrumb {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 35px;
    width: 100%;
    font-family: 'Inter';
}

ul.fddocs-breadcrumb li {
    display: flex;
    align-items: center;
}

.ast-single-post .entry-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.72em;
    color: #000000;
    text-transform: capitalize;
}

.fddocs-single-content ul.fddocs-breadcrumb li .current {
    font-size: 15px;
    line-height: 26px;
    color: #4A3BFD;
    font-weight: 400;
}

.fddocs-nav-list li.page_item_has_children>.children {
    display: none;
    margin-left: 18px;
    padding: 0;
}

.fddocs-nav-list li.page_item_has_children.current_page_item>.children,
.fddocs-nav-list li.page_item_has_children.current_page_parent>.children,
.fddocs-nav-list li.page_item_has_children.current_page_ancestor>.children {
    display: block;
}



.fddocs-sidebar.layout-03 ul.fddocs-nav-list>li.has-icon>ul.children {
    margin-left: 0;
}

.fddocs-sidebar.layout-03 ul.fddocs-nav-list li span.toggle-menu {
    top: 21px;
    right: 15px;
}

.fddocs-sidebar.layout-03 ul li ul.children li a img {
    display: inline-block;
}

.fddocs-sidebar.layout-03 .fddocs-nav-list li.page_item_has_children>.children {
    margin-left: 12px;
}

/* shortcode */
.fddocs-autoc-wrap .autoc ul {
    margin: 0px;
    padding-left: 0;

}

.fddocs-autoc-wrap .autoc ul li {
    list-style: none;
    margin-bottom: 0px;
    padding-bottom: 15px;
}

.fddocs-autoc-wrap .autoc ul li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.66em;
    color: #000000;
    display: inline-block;
    transition: all 0.3s;
}

.fddocs-autoc-wrap .autoc ul li:last-child {
    padding-bottom: 0px;
}

.fddocs-autoc-wrap .autoc {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 30px;
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
}

.autoc .autoc-level-H3 {
    padding-left: 40px;
}

.autoc .autoc-level-H4 {
    padding-left: 60px;
}

.autoc .autoc-level-H3:before {
    content: "";
    display: block;
    height: 0;
    width: 30px;
    border-bottom: 1px dashed #c4cbdb;
    /* Adjust the Y value for your site */
    transform: translateX(-35px) translateY(19px);
}

.autoc .autoc-level-H4:before {
    content: "";
    display: block;
    height: 0;
    width: 50px;
    border-bottom: 1px dashed #c4cbdb;
    /* Adjust the Y value for your site */
    transform: translateX(-55px) translateY(19px);
}

.fddocs-sidebar .widget-title {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.38em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
}


.fddocs-sidebar #mainnav ul.fddocs-nav-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.fddocs-single-wrap .fddocs-sidebar {
    background-color: #F8F8FA;
    padding-top: 39px;
    padding-left: 45px;
    padding-right: 25px;
    padding-bottom: 20px;
}

.fddocs-sidebar ul li a {
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    color: #000000;
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
}

.fddocs-sidebar ul li a img {
    width: 22px;
    margin-right: 15px;
}

.fddocs-sidebar ul li {
    position: relative;
}

.fddocs-sidebar ul.fddocs-nav-list li a span {
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    color: #111827;
    font-size: 18px;
}

.fddocs-sidebar ul li ul.children li a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    color: rgba(0, 0, 0, 0.7);
    display: block;
}

.fddocs-sidebar ul.fddocs-nav-list  li a span.dashicons {width: 22px;margin-right: 12px;}

.fddocs-sidebar ul li ul.children li a img {
    display: none;
}

.fddocs-sidebar ul.fddocs-nav-list>li.has-icon>ul.children {
    margin-left: 38px;
}

ul.fddocs-breadcrumb li .dashicons {
    line-height: 1.55em;
    font-size: 18px;
}

.fddocs-sidebar ul.fddocs-nav-list li span.toggle-menu {
    line-height: initial;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 6px;
    cursor: pointer;
    transition: .3s;
    transform: rotate(180deg);
}

.fddocs-sidebar ul.fddocs-nav-list li.active span.toggle-menu {
    transform: rotate(0);
}

.fddocs-single-content ul.fddocs-breadcrumb li span.dashicons {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 16px;
    line-height: 20px;
    color: rgba(17, 24, 39, 0.6);

}

.fddocs-single-content ul.fddocs-breadcrumb li a {
    color: rgba(22, 22, 23, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
}

.fddocs-single-content h1.fddoc-single-title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 1.3;
}

.fddocs-single-content .fddocs-entry-content h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.72em;
    color: #000000;
    margin-bottom: 15px;
    margin-top: 0px;
}

.single .entry-header {
    margin-bottom: 30px;
}

.fddocs-single-content .fddocs-entry-content p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6em;
    color: rgba(0, 0, 0, 0.7);
    margin-right: 80px;
    margin-bottom: 35px;
    margin-right: unset;
}

.fddocs-autoc-wrap .autoc h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 25px;
    margin-top: 0px;
}

.fdocs-ctn .footer-area {
    display: flex;
    align-items: center;
    margin-bottom: 75px;
}

.footer-content {
    margin-right: 45px;
}

.fdocs-ctn .footer-content h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 5px;
}

.fdocs-ctn .footer-content p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 0px;
}

.fdocs-ctn .footer-button a {
    padding: 16px;
    background: #4A3BFD;
    border-radius: 5px;
    display: inline-flex;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    justify-content: center;
}

.fd-powered .fd-footertext {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

span.fddoc-copyright a {
    color: #4A3BFD;
    font-size: 14px;
}

.fdoc-powered {
    margin-top: 75px;
}

.fdocs-ctn {
    padding-top: 50px;
    border-top: 1px solid rgba(22, 22, 23, 0.1);
}

.layout-03 .fdoc-powered {
    text-align: center;
    display: block;
}

/********************* 
        layout 02 
 **********************/

.fddocs-autoc-wrap.without-icon .autoc {
    border-left: 0px;
    padding-left: 0px;
}

.fddocs-sidebar.layout-2-bg {
    background-color: transparent !important;
}

.container-layout-02 .fddocs-single-content .fddocs-entry-content p {
    margin-right: 30px;
}



/* Search page style  */
form.search-form.fddocs-search-form {
    position: relative;
    width: 100%;
    max-width: 100%;
}

form.search-form.fddocs-search-form input.search-field {
    width: 100%;
    background-color: #FAFAFA;
    border: 1px solid rgba(22, 22, 23, 0.15);
    border-radius: 5px;
    height: 60px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #161617;
    padding-left: 50px;
    margin-top: 0;
    margin-right: 0;
    margin: 0;
    outline: 0px;
}

form.search-form.fddocs-search-form button.search-submit {
    position: absolute;
    background-color: transparent;
    border: none !important;
    margin-left: 0 !important;
    padding: 0;
    margin-top: 0 !important;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
form.search-form.fddocs-search-form button.search-submit svg path {
    stroke: #fff;
}

.fddocs-search-input {
    width: 100%;
}

.fddocs-search-bar h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 18px;
}

.fddocs-search-bar p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;
}

.fddocs-search-page .fddocs-container {
    width: 856px;
}

.fddocs-search-page .fddocs-search-bar {
    padding: 90px;
    background-color: #fff;
}

.fddox-search-title {
    width: 465px;
    max-width: 100%;
}

.fddocs-search-results {
    padding: 65px 0 70px;
    background: #F3F5F7;
}

.fddocs-search-restult-title {
    margin-bottom: 50px;
}

.fddocs-search-restult-title h4 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
    /* identical to box height, or 152% */
    color: rgba(22, 22, 23, 0.5);
}

.fddocs-search-restult-title h4 strong {
    color: #161617;
}

.fddocs-single-search-item {
    background-color: #fff;
    padding: 35px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    border: 1px solid rgba(45, 45, 49, 0.12);
    border-radius: 3px;
    margin-bottom: 25px;
}

.fddocs-single-search-item ul.fddocs-breadcrumb {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 13px;
}

.fddocs-single-search-item ul.fddocs-breadcrumb a {
    color: rgba(22, 22, 23, 0.6);
    text-decoration: none;
}

.fddocs-single-search-item ul.fddocs-breadcrumb span.current {
    color: #4B3BFD;
}

.fddocs-single-search-item h4 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: #161617;
    margin-bottom: 16px;
}

a {
    text-decoration: none;
}



.fdocs-single-post-navigation .post-navigation a {
    padding: 0px !important;
}

.fddoc-single-layout-02 .fddocs-single-wrap .fddocs-autoc-wrap {
    width: 32%;
}

.fddoc-single-layout-02 .fddocs-single-wrap article {
    width: 68%;
}

/* social share */

.fddocs-social-share ul.fddocs-social-share-links {
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-left: 15px;
}
.fddocs-social-share ul.fddocs-social-share-links li {
    display: inline-block;
    width: 36px;
}

.fddocs-social-share-links a.customize-unpreviewable {
    cursor: pointer !important;
}

.fddocs-social-share {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
}

.fddocs-social-share ul.fddocs-social-share-links li a {
    display: block;
}

.fddocs-social-share ul.fddocs-social-share-links li a img {
    max-width: 100%;
}

@media screen and (min-width: 992px) and (max-width: 1444px) {
    .fddocs-single-content .fddocs-entry-content p {
        margin-right: 20px;
    }

    .fddocs-single-wrap .fddocs-sidebar {
        padding-left: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .fddocs-single-wrap .fddocs-single-content {
        width: 100% !important;
    }

    .fddocs-single-wrap .fddocs-sidebar {
        width: 50% !important;
        order: -2;
    }

    .fddocs-autoc-wrap {
        width: 50% !important;
        order: -1;
    }

    .fddocs-single-wrap .fddocs-single-content {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .fddocs-single-wrap .fddocs-sidebar {
        padding-top: 25px;
        padding-left: 20px;
        padding-right: 21px;
    }

    .fddocs-single-content .fddocs-entry-content p {
        margin-right: 0px;
    }

    .fddocs-single-content .fddocs-entry-content h2 {
        font-size: 22px;
    }

    .ast-single-post .entry-title {
        font-size: 22px;
    }

    .fddocs-autoc-wrap {
        padding-top: 25px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .fddocs-autoc-wrap .autoc {
        padding-left: 15px;
    }
}

@media screen and (max-width: 991px) {
    .fddocs-sidebar #mainnav>.fddoc-sidebar-trigger {
        display: inline-flex;
        position: fixed;
        top: 150px;
        left: 0;
        background-color: #fff;
        padding: 10px;
        z-index: 1;
        border: 1px solid #ccc;
    }

    .fddoc-nav-inner {
        position: fixed;
        top: 0;
        left: 0;
        padding: 100px 20px 40px;
        background: #F8F8FA;
        z-index: 7777;
        width: 100%;
        height: 100%;
        transform: translatex(-100%);
        transition: .4s;
    }

    .fddoc-nav-inner.active {
        transform: translatex(0);
    }

    .fddocs-sidebar #mainnav .fddoc-nav-inner .fddoc-sidebar-trigger {
        position: absolute;
        right: 20px;
        top: 30px;
        font-size: 23px;
        display: inline-block;
    }


    .fddocs-sidebar #mainnav ul {
        text-align: left;
        background-color: #F8F8FA;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-right: 20px;

    }

    .fddocs-sidebar #mainnav ul li {
        display: block;
    }

    .fddocs-sidebar #mainnav ul li a {}

    .fddocs-single-wrap .fddocs-sidebar {
        max-width: 0 !important;
        order: -2;
        padding: 0;
        z-index: 1;
    }

    .fddocs-autoc-wrap {
        width: 100% !important;
        order: -1;
        position: static;
    }

    .fddocs-single-wrap .fddocs-single-content {
        width: 100% !important;
        order: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 25px;
    }

    .fddocs-single-content .fddocs-entry-content p {
        margin-right: 0px;
    }

    .fdocs-single-post-navigation .post-navigation .nav-links .nav-next {
        width: auto !important;
    }

    .fdocs-single-post-navigation .post-navigation .nav-links .nav-previous {
        width: auto !important;
    }

    .fddocs-single-wrap .fddocs-single-content ul.fddocs-breadcrumb {
        orphans: 0;
    }

    .fddocs-single-wrap .fddocs-autoc-wrap {
        order: 1;
        margin-top: 0;
    }

    .fddocs-single-wrap article {
        order: 2;
        width: 100%;
    }
    .fddoc-single-layout-02 .fddocs-single-wrap article {
    width: 100%;
}
}

/***********************************************
                    Layout-03
***********************************************/
.fddocs-sidebar.layout-03 .fddocs-entry-content {
    margin-bottom: 50px;
}

/* .fddocs-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} */
.fddocs-sidebar.layout-03 {
    background: #fff !important;
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.fddocs-sidebar.layout-03 ul li {
    margin-bottom: 12px;
    background-color: #F9F9FA;
}

.fddocs-sidebar.layout-03 ul li ul.children li {
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(22, 22, 23, 0.09);
}

.fddocs-sidebar.layout-03 ul li ul.children li:last-child {
    border-bottom: 0px;
}

.fddocs-sidebar.layout-03 ul li ul.children li a {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    color: rgba(22, 22, 23, 0.7);
    padding-top: 20px;
    padding-bottom: 20px;
}

.fddocs-sidebar.layout-03 ul li a {
    color: #161617;
    display: inline-flex;
    padding: 15px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 0px;
    align-items: center;
}

.fddocs-single-wrap .fddocs-single-content.layout-03 {
    width: 70%;
    padding-bottom: 25px;
    padding-top: 35px;
}

.fddocs-single-content.layout-03 .fddocs-entry-content p {}

.fddocs-single-content.layout-03 ul.fddocs-breadcrumb {
    margin-bottom: 25px;
}

.rate-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin-right: 60px;
}

.article-like span.article-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.7);
}

.update-date .update-text {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.7);
}

.help-center .help-text {
    font-style: 400;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.help-center {
    text-align: center;
}

.help-center a.contact-support {
    display: inline-block;
    padding: 16px;
    line-height: 50px;
    background: #161617;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}
.help-center a.customize-unpreviewable {
    cursor: pointer !important;
}
.help-center p.contact-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 20px;
}

.help-center .help-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 20px;
    margin-top: 55px;
}

.ultimatedoc p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 60px;
    margin-bottom: 25px;
}

.ultimatedoc p a {
    color: #4A3BFD;
}

.fddoc-single-layout-03  .fddocs-single-wrap article {
    width: 100%;
}

/* **********************************
        section template
*************************************/


.fddocs-site-main {
    padding-top: 115px;
    padding-bottom: 120px;
}

.fddocs-site-main .wraper {
    background: #FFFFFF;
    border: 1px solid rgba(45, 45, 49, 0.12);
    box-sizing: border-box;
    transition: all 0.3s;
    border-radius: 5px;
    margin-bottom: 24px;
}

.fddocs-site-main .wraper:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
}

.fddocs-site-main .top-iocn {
    width: 100%;
    height: 188px;
    background: #F3F2F8;
    border-radius: 5px 5px 0px 0px;
    position: relative;
}

.fddocs-site-main .content-area {
    padding: 35px 35px 25px 35px;
}

.fddocs-site-main .docs-title h1 {
    margin: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
    color: #161617;
    font-family: 'Inter';
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.fddocs-site-main .wraper.template-third .docs-title h1 {
    margin-bottom: 35px;
}

.fddocs-site-main .wraper.template-third .docs-title h1 span {
    margin-right: 5px;
}

.fddocs-site-main .docs-excerpt p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
    font-family: 'Inter';
}

.fddocs-site-main .total-article .article-total a{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #4A3BFD;
    font-family: Inter;
    letter-spacing: 0;
}

.fddocs-site-main .icon.icon-one {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background: #FFFFFF;
    border: 1px solid rgba(45, 45, 49, 0.14);
    border-radius: 50px;
    width: 90px;
    height: 90px;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}



.footer-button a.customize-unpreviewable {
    cursor: pointer !important;
}

.fdocs-single-post-navigation .nav-previous {
    float: left;
}

.fdocs-single-post-navigation .nav-next {
    float: right;
}

.single .fdocs-single-post-navigation .post-navigation a {
    margin: 2px;
    display: inline-flex!important;
    justify-content: end;
    color: #000 !important;
    align-items: center;
    padding: 0;
    display: inline-flex;
    flex-direction: row!important;
    align-items: center;
}

.fdocs-single-post-navigation .post-navigation {
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid rgba(22, 22, 23, 0.1);
    padding: 20px 0;
    margin: 0;
}

.single .post-navigation a .dashicons {
    font-size: 17px;
    display: inline-block;
}

.single .post-navigation .nav-previous a span.dashicons {
    margin-right: 8px;
}

.single .post-navigation .nav-next a span.dashicons {
    margin-left: 8px;
}

/***************************************
        section -template 02
***************************************/

.fddocs-site-main .wraper.template-scnd {
    display: flex;
    align-items: center;
    border-radius: 0px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
}

.fddocs-site-main .wraper.template-scnd .content-area {
    padding: 0px;
}

.fddocs-site-main .icon.scnd-icon {
    margin-right: 25px;
}

.fddocs-site-main .icon.scnd-icon img {
    width: 40px;
    height: 65px;
    object-fit: cover;
}

.fddocs-site-main .wraper.template-scnd .total-article .article-total {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.7);
    text-transform: capitalize;
}

.fddocs-site-main .wraper.template-scnd .docs-title h1 {
    margin-bottom: 5px;
}

/*******************************
        Template -03
********************************/
.section-article-list ul {
    margin: 0px;
    padding: 0px;
}

.section-article-list ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.section-article-list ul li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #161617;
    margin-left: 5px;
}

.section-article-list ul li a:hover {
    text-decoration: underline;
}

.section-article-list {
    margin-bottom: 25px;
}

/**********************************
            section template
***********************************/
.section-bg {
    background-image: url('../img/secton-head.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 105px;
}

.section-header {
    text-align: center;

}

.section-title h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 1.14em;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.section-desc p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.55em;
    color: rgba(255, 255, 255, 0.9);
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 40px;
}

.section-bg.section-template-02 {
    background: #942FD1;
}

.section-template-02 .section-header {
    text-align: left;
}

.section-template-02 .section-desc p {
    padding-left: 0px;
    padding-right: 0px;

}

.section-template-02 form.search-form.fddocs-search-form input.search-field {
    background: rgba(255, 255, 255, 0.2);
    outline: 0px;
    color: #fff;
}

.section-template-02 ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #FFFFFF;
}

.section-template-02 ::-moz-placeholder {
    /* Firefox 19+ */
    color: #FFFFFF;
}

.section-template-02 :-ms-input-placeholder {
    /* IE 10+ */
    color: #FFFFFF;
}

.fddocs-site-main.section-template-03 {
    background: #fff;
    padding-top: 0px;
}

.section-bg.section-template-03 {
    background: #ffffff;
}

.section-template-03 .section-title h1 {
    color: #161617;
}

.section-template-03 .section-desc p {
    color: #161617;
}

.section-bg.section-template-03 {
    background: #ffffff;
    padding-bottom: 90px;
}

/*********************************
            Docs Template-01
*********************************/

.fddocs-site-main .card-top .card-title img {
    width: 100%;
    height: 190px;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.fddocs-site-main .card-top .card-title h1 {
    font-family: 'Gentona';
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 1.08em;
    text-align: center;
    color: #FFFFFF;
    text-transform: capitalize;
    margin: 0px;
}

.fddocs-site-main .docs-wraper {
    background: #FFFFFF;
    border: 1px solid rgba(45, 45, 49, 0.12);
    border-radius: 5px;
    transition: all 0.3s;
    margin-bottom: 30px;
}

.fddocs-site-main .card-bottom {
    padding: 25px 35px 40px 35px;
}

.fddocs-site-main .card-bottom .card-content-title h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
    color: #161617;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 15px;
}

.fddocs-site-main .docs-templatetwo .card-bottom .card-content-title h1 {
    margin-bottom: 0px !important;
}

.docs-wraper.docs-templatetwo {
    padding: 38px 35px !important;
}

.fddocs-site-main .card-bottom .card-content p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 35px;
}

.fddocs-site-main .card-bottom .card-button a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background: rgba(22, 22, 23, 0.06);
    border-radius: 5px;
    text-align: center;
    font-family: 'Inter';
    font-style: 400;
    font-weight: 500;
    font-size: 16px;
    color: #161617;
    transition: all 0.3s;
}

.fddocs-site-main .card-bottom .card-button a:hover {
    color: #fff;
    background: #161617;
}

.docs-wraper.docs-templatetwo {
    display: flex;
    align-items: center;
    padding: 38px 35px;
    border: 0px;
    border-radius: 10px;
}

.fddocs-site-main .docs-templatetwo .card-top img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    object-fit: cover;
}

.fddocs-site-main .docs-templatetwo .card-top .card-title h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}

.fddocs-site-main .docs-templatetwo .card-bottom {
    padding: 0px;
}

.fddocs-site-main .docs-templatetwo .docs-article .docs-article-total {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.7);
}
.fddoc-main.docs-template-01 {
    background-color: #F3F5F7;
}
.fddocs-site-main.docs-template-01 {
    background: #F3F5F7;
    padding-top: 0px;
}

.fddocs-site-main.section-template-01 {
    padding-top: 115px;
}

.fddocs-site-main.docs-template-02 {
    background: #F3F5F7;
    padding-top: 0px;
}

.docs-template-two {
    margin-bottom: 22px;
}

.fddoc-bg-color.docs-template-02 {
    background: #ffffff;
}

.fddocs-site-main.docs-template-02 {
    background: #F3F5F7;
    padding-top: 100px;
    padding-bottom: 95px;
}

/***************************************
            page template
****************************************/
.template-header {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 55px;
}

.header-title h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 1.14;
    margin-bottom: 15px;
    color: #161617;
}

.fddoc-bg-color.docs-template-02 .template-header {
    text-align: left;
}

.header-desc p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #161617;
    padding-right: 70px;
    padding-left: 70px;
}

.fddoc-bg-color.docs-template-02 .header-desc p {
    padding-right: 0px;
    padding-left: 0px;
}

.fddocs-sidebar ul li {
    list-style: none;
}

/***************************************
            Feedback Css
****************************************/
.fddocs-meta-area {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgb(22 22 23 / 8%);
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.layout-03 .fddocs-meta-area {
    padding: 20px;
    border: 1px solid rgb(22 22 23 / 8%);
}

.fddocs-footer-feedback .like,
.fddocs-footer-feedback .dislike {
    background-color: #161617;
    width: 27px;
    height: 27px;
    display: inline-flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;
    margin-left: 5px;
}

.fddocs-footer-feedback .feedback-text {
    margin-right: 15px;
    display: inline-flex;
}

.fddocs-footer-feedback.disabled {
    opacity: .5;
    cursor: not-allowed;
    transition: .4s;
}

.fddocs-footer-feedback.disabled .like,
.fddocs-footer-feedback.disabled .dislike {
    cursor: not-allowed;
}


/***************************************
 Layout 04  
 ***************************************/
.fddocs-single-wrap .fddocs-sidebar.layout-04 {
    background-color: #fff;
    padding: 0;
    padding-top: 45px;
}

.layout-04 .fddocs-sidebar ul li a {
    color: #161617;
    display: inline-flex;
    padding: 15px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 0px;
    align-items: center;
    margin-bottom: 0;
}

.layout-04 .fddocs-sidebar  ul.fddocs-nav-list {
    border: 1px solid rgba(22, 22, 23, 0.11);
}

.layout-04 .fddocs-sidebar ul li:not(:last-child) {
    border-bottom: 1px solid rgba(22, 22, 23, 0.11);
}

.layout-04 .fddocs-sidebar span.toggle-menu.dashicons {
    top: 19px;
    right: 12px;
}

.layout-04 .fddocs-sidebar ul li ul.children li a {
    padding: 14px;
    margin-left: 14px;
}

.layout-04 .fddocs-nav-list li.page_item_has_children>.children {
    margin-left: 0;
}
.layout-04 .fddocs-single-wrap article {
    width: 100%;
}

/* *****************************
foontend css  
******************************/
ul.fddocs-related-articles {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.fddocs-related-articles li a {
    display: flex;
    color: #161617;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
}

ul.fddocs-related-articles li a span.dashicons {font-size: 18px;margin-right: 10px;line-height: 1;}

ul.fddocs-related-articles li:not(:last-child) {
    margin-bottom: 15px;
}

.fddocs-related-article-wrap h4 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 26px;
}

.fddocs-related-article-wrap {border-top: 1px solid rgb(22 22 23 / 10%);padding: 30px 0;}
.fddocs-single-wrap .fddocs-auto-in-content.fddocs-autoc-wrap {
    background-color: #FAFAFA;
    width: fit-content!important;
    position: static;
    margin-top: 0;
    padding: 30px;
    margin-left: 0;
    margin-bottom: 30px;
    border-radius: 5px;
}

.fddocs-auto-in-content.fddocs-autoc-wrap .autoc {
    padding-left: 0;
    border: none;
}

.fddocs-paginations-wrap .page-numbers {
    width: 30px;
    height: 30px;
    display: inline-flex;
    background-color: #fff;
    justify-content: center;
    border: 1px solid #cccccc4f;
    color: #4a3bfd;
    transition: .3s;
    border-radius: 3px;
}

.fddocs-paginations-wrap .page-numbers.current, .fddocs-paginations-wrap .page-numbers:hover {
    color: #fff;
    background-color: #4a3bfd;
    border-color: #4a3bfd;
}


/* post navigation  */
.fddocs-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fddocs-navigation a {color: #161617;font-size: 14px;display: flex;align-items: center;line-height: 1.3;}

.fddocs-navigation a .dashicons {
    font-size: 14px;
    display: inline-block;
    line-height: 1.3;
}

.fddocs-navigation .next a .dashicons {
    margin-left: 10px;
}

.fddocs-navigation .previous a .dashicons {
    margin-right: 10px;
}

.fdocs-single-post-navigation {
    padding: 30px 0;
    border-top: 1px solid rgba(22, 22, 23, 0.1);
}

@media screen  and (max-width: 991px) {
    .fddocs-single-wrap .fddocs-sidebar.layout-03 {
        width: 100% !important;
        margin-bottom: 20px;
        position: absolute;
        width: 0;
    }

    .fddocs-single-content.layout-03 .fddocs-entry-content p {
        margin-right: 50px;
    }
}

@media screen and (max-width: 767px) {
    .fddocs-sidebar.layout-03 {
        width: 100%;
        margin-bottom: 20px;
    }

    .fddocs-single-content.layout-03 .fddocs-entry-content p {
        margin-right: 25px;
    }

    .section-bg {
        padding-top: 55px;
        padding-bottom: 60px;
    }

    .fddocs-site-main {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .section-title h1 {
        font-size: 36px;
    }

    .section-desc p {
        padding-left: 0px;
        padding-right: 0px;
    }

    .fdocs-ctn .footer-area {
        flex-direction: column;
    }

    .footer-content {
        margin-right: 20px;
        margin-bottom: 25px;
    }

    .fddocs-sidebar {
        position: fixed;
        bottom: 30px;
        left: 18px;
    }


}